{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifiez votre profil !</h1>
    <br>
    {{ form_start(profileModifForm) }}

    {{ form_row(profileModifForm.nom, { 'label': 'nom' }) }}
    {{ form_row(profileModifForm.prenom, { 'label': 'prénom' }) }}
    {{ form_row(profileModifForm.pseudo, { 'label': 'pseudo' }) }}
    {{ form_row(profileModifForm.telephone, { 'label': 'téléphone' }) }}
    {{ form_row(profileModifForm.mail, { 'label': 'email' }) }}
    {{ form_row(profileModifForm.imageFile, {'label': 'image'}) }}
    <button type="submit" class="btn btn-primary">Create</button>

    {{ form_end(profileModifForm) }}
{% endblock %}
