{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifiez votre profil !</h1>
    <br>
    {{ form_start(profileModifForm) }}

    {{ form_row(profileModifForm.nom, { 'label': 'Nom' }) }}
    {{ form_row(profileModifForm.prenom, { 'label': 'Prénom' }) }}
    {{ form_row(profileModifForm.pseudo, { 'label': 'Pseudo' }) }}
    {{ form_row(profileModifForm.telephone, { 'label': 'Téléphone' }) }}
    {{ form_row(profileModifForm.mail, { 'label': 'Email' }) }}

    <button type="submit" class="btn btn-primary">Create</button>

    {{ form_end(profileModifForm) }}
{% endblock %}
