{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Profil de : {{ app.user.nom }}{{ " " }}{{ app.user.prenom }}</h1>
        <p>Pseudo : {{ app.user.pseudo }}</p>
        <p>Email : {{ app.user.mail }}</p>
        <p>Téléphone : {{ app.user.telephone }}</p>
        {#<p>Sorties à venir : {{ app.user. }}</p>#}
        {#<p>Rôles : {{ user.roles|join(', ') }}</p>#}
    {% else %}
        <p>Vous n'êtes pas connecté</p>
    {% endif %}
    <a href="{{ path('app_profilemodif_index') }}">Modifier mon profil</a>
{% endblock %}

