{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <form method="post">
        {#{% if error %}
        <div>
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
        {% endif %}#}

        <div>{{ error }}</div>

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% if app.user and app.user.email %}
        <label for="inputMail"> mail : </label><input type="email" value="{{ app.user.email }}" name="mail" id="inputMail" class="form-control" required>
        {% else %}
        <label for="inputMail"> mail : </label><input type="email" name="mail" id="inputMail" class="form-control" required>
        {% endif %}
        <label for="inputPassword"> mot de passe : </label><input type="password" name="motDePasse" id="inputPassword" class="form-control" required>

        <div>
            <input type="checkbox" name="_remember_me" id="rememberMe" class="form-check-input">
            <label for="rememberMe" class="form-check-label">Se souvenir de moi</label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate', {'name': 'my_token'}) }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>

    <p>Vous n'avez pas de compte ?</p>
    <a href="{{ path('app_register') }}">S'inscrire !</a>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const emailInput = document.getElementById("inputMail");
            const storedEmail = localStorage.getItem("storedEmail");

            // Check if the email is stored and not empty
            if (storedEmail) {
                emailInput.value = storedEmail;
            }

            // Add an event listener to update the stored email when the user types
            emailInput.addEventListener("input", function() {
                localStorage.setItem("storedEmail", emailInput.value);
            });
        });
    </script>
{% endblock %}

