{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscrivez vous !</h1>
    <br>
    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.nom, { 'label': 'Nom' }) }}
    {{ form_row(registrationForm.prenom, { 'label': 'Prénom' }) }}
    {{ form_row(registrationForm.pseudo, { 'label': 'Pseudo' }) }}
    {{ form_row(registrationForm.telephone, { 'label': 'Téléphone' }) }}
    {{ form_row(registrationForm.mail, { 'label': 'Email' }) }}
    {{ form_row(registrationForm.motDePasse, { 'label': 'Mot de Passe' }) }}

    <button type="submit" class="btn btn-primary">Create</button>

    {{ form_end(registrationForm) }}
{% endblock %}
