{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div class="col-md-9">
        {{ form_start(sortieForm) }}
        <div class="colonne1">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateCloture) }}
            {{ form_row(sortieForm.duree) }}
        </div>
        <div class="colonne2">
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.descriptionInfos) }}
            {{ form_row(sortieForm.Site) }}
        </div>
        <div class="colonne2-lieu">
            {{ form_row(sortieForm.lieuxNoLieu, {'attr': {'class': 'lieu-select'}}) }}
            <div id="lieu-details">
                <p>Rue: <span id="lieu-rue"></span></p>
                <p>Ville: <span id="lieu-ville"></span></p>
            </div>
        </div>
        <div>
        <a href="{{ path('lieu_creer') }}"><button type="button">Ajouter un lieu</button></a>
            <a href="{{ path('ville_creer') }}"><button type="button">Ajouter une ville</button></a>
        {{ form_widget(sortieForm.enregistrer) }}
        {{ form_widget(sortieForm.publier) }}
            {{form_end(sortieForm)}}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const lieuSelect = document.querySelector(".lieu-select");
            const lieuDetails = document.getElementById("lieu-details");
            const rueElement = document.getElementById("lieu-rue");
            const villeElement = document.getElementById("lieu-ville");

            lieuSelect.addEventListener("change", function() {
                const selectedLieuId = lieuSelect.value;
                const url = `/lieu/get-details/${selectedLieuId}`;
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Une erreur s'est produite: ${response.statusText}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        rueElement.textContent = data.rue;
                        villeElement.textContent = data.ville.nom;
                        lieuDetails.style.display = "block";
                    })
                    .catch(error => {
                        console.error("Une erreur s'est produite lors de la récupération des détails du lieu:", error);
                        rueElement.textContent = "";
                        villeElement.textContent = "";
                        lieuDetails.style.display = "block";
                    });
            });
        });
    </script>
{% endblock %}