{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block link %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
{% endblock %}

{% block body %}


    <h1>Sorties</h1>

    <div class="container_liste">

        <div>
            <p>Nom de la sortie : {{ sortie.nom }}</p>
            <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('d/m/Y H:i:s') }}</p>
            <p>Date limite d'inscription : {{ sortie.getDateCloture | date('d/m/Y H:i:s') }}</p>
            <p>Nombre de places : {{ sortie.getNbInscriptionsMax }}</p>
            <p>Durée : {{ sortie.duree }} minutes</p>
            <p>Description et infos : {{ sortie.descriptionInfos }}</p>
            <p>Lieu : {{ sortie.lieuxNoLieu.nom }}</p>
            <p>Rue : {{ sortie.lieuxNoLieu.rue }}</p>
            <p>Code postal : {{ sortie.lieuxNoLieu.villesNoVille.codePostal }}</p>
        </div>

        <div id="map" style="height: 33vh; max-width: 33%">
            <script>
                const latitude = {{ sortie.lieuxNoLieu.latitude }};
                const longitude = {{ sortie.lieuxNoLieu.longitude }};
                let map = L.map('map').setView([latitude, longitude], 13);
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '© OpenStreetMap'
                }).addTo(map);
                L.marker([latitude, longitude]).addTo(map)
                    .bindPopup('{{ sortie.lieuxNoLieu.nom }} : {{ sortie.lieuxNoLieu.rue }}, {{ sortie.lieuxNoLieu.villesNoVille.codePostal }} {{ sortie.lieuxNoLieu.villesNoVille.nom }}')
                    .openPopup();
            </script>
        </div>

    </div>

    <h2>Liste des participants inscrits : </h2>

    <table>

        <tr>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>

        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td><a href="{{ path('app_profile_inscrit', {'id':participant.id}) }}">{{ participant.prenom }}</a></td>
                <td><a href="{{ path('app_profile_inscrit', {'id':participant.id}) }}">{{ participant.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>


    </table>

     <a href="{{ path('sortie_desister', {'sortie': sortie.id}) }}" >Se désinscrire</a>
    <a href="{{ path('sortie_inscription', {'sortie': sortie.id}) }}" >S'inscrire</a>
    <a href="{{ path('sortie_modifier', {'sortie': sortie.id}) }}" >Modifier la sortie</a>
    <a href="{{ path('sortie_annuler', {'sortie': sortie.id}) }}" >Annuler la sortie</a>
    <a href="{{ path('sortie_supprimer', {'sortie': sortie.id}) }}" >Supprimer la sortie</a>



{% endblock %}
