{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} - Accueil
{% endblock %}

{% block javascripts %}
    <script>
        const keys = {
            37: "left",
            38: "up",
            39: "right",
            40: "down",
            65: "a",
            66: "b"
        };
        const konamiCode = ["up", "up", "down", "down", "left", "right", "left", "right", "b", "a"];

        document.addEventListener("keydown", checkCode, false);
        let keyCount = 0;
        let timerId;
        function checkCode(event) {
            console.log(event.keyCode);
            let keyPressed = keys[event.keyCode];
            if (keyPressed === konamiCode[keyCount]){
                keyCount++;
                window.clearTimeout(timerId);
                timerId = window.setTimeout(resetKeyState, 3000 )

                if(keyCount ===konamiCode.length) {
                    cheatCodeActivated();
                    resetKeyState();
                }
            } else {
                resetKeyState();
            }
        }
        function cheatCodeActivated() {
            alert("Défendez la terre !");
            window.location.href = "{{ path('spaceInvaders') }}";
        }
        function resetKeyState() {
            keyCount = 0;
            window.clearTimeout(timerId);
        }
    </script>
{% endblock %}


{% block body %}
    <div class="bloc">
        <div class="hero min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div>
                    <p class="text-8xl py-1 border-text text-sky-800">Bienvenue sur 44Tonight !</p>
                    <p class="text-4xl py-1 border-text text-sky-800">Participe, organise des sorties, découvre des activités.</p>
                    <p class="text-4xl py-4 border-text text-sky-800">Tout ça gratuitement et le site le restera !</p>
                    <button class="btn bg-sky-800 text-white">S'inscrire</button>
                    <button class="btn bg-sky-800 text-white">Se connecter</button>
                    <a class="btn bg-sky-800 text-white" href="{{ path('listeSorties') }}">Voir les sorties</a>

                </div>
            </div>
        </div>
        <video autoplay="autoplay" loop muted="muted">
            <source src="{{ asset('video/finalVideoBackground2-highlight.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="mx-auto py-10 bg-sky-800 text-white text-center text-2xl">
        <div class="stats shadow">
            <div class="stat place-items-center">
                <div class="stat-title">Membres inscrits :</div>
                <div class="stat-value">{{ participants|length }}</div>
                <div class="stat-desc">Depuis la création du site.</div>
            </div>
            <div class="stat place-items-center">
                <div class="stat-title">Sorties créées :</div>
                <div class="stat-value text-secondary">{{ sorties|length }}</div>
                <div class="stat-desc text-secondary">Par les organisateurs de l'ENI !</div>
            </div>
        </div>
    </div>
    <div class="flex justify-center p-4 cartes backdrop-blur-md">
        <div class="grid grid-cols-3 gap-4">
            {% for ligne in sorties|batch(3) %}
                {% for sortie in ligne %}
                    {% if sortie.getEtatsNoEtat().getId() not in [3, 4, 5, 6] %}
                        <div class="card w-96 bg-base-100 shadow-xl">
                            <figure>
                                {% if sortie.getUrlPhoto() is not null %}
                                    <img src="{{ sortie.getUrlPhoto() }}" alt="{{ sortie.getNom() }}" class="card-image"/>
                                {% else %}
                                    <img src="{{ asset('images/wallpaper/wallpaper.jpg') }}" alt="Image par défaut" class="card-image"/>
                                {% endif %}
                            </figure>
                            <div class="card-body">
                                <h2 class="card-title">{{ sortie.getNom() }}</h2>
                                <p>{{ sortie.getDescriptionInfos() }}</p>
                                <div class="card-actions justify-end">
                                    <a href="{{ path('sortie_details', {'sortie': sortie.getId()}) }}" class="btn glass">Voir</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

